<html>
    <head>
        <script type="text/javascript" src="assets/js/lib/jquery.js"></script>
    </head>
    <body>
        {{>header}}
        <h1> Welcome Baby</h1>

        <form>
            <input type="text">
            <p>This was created by Shubham Sasane</p>
            <button>ok</button>
        </form>
        {{>footer}}
        <script src="/public/js/index.js"></script>
    </body>
</html>
